[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
sec_edgar_downloader = "*"
bs4 = "*"
html5lib = "*"

[dev-packages]
flake8 = "*"
pytest = ">=5.4.3"
pylint = "*"
yapf = "*"
mypy = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
